<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="deliveryChannel">
            <h2><span jhiTranslate="notificationHubApp.deliveryChannel.detail.title">Delivery Channel</span> {{deliveryChannel.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="notificationHubApp.deliveryChannel.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'notificationHubApp.Channel.' + deliveryChannel.type}}">{{deliveryChannel.type}}</span>
                </dd>
                <dt><span jhiTranslate="notificationHubApp.deliveryChannel.description">Description</span></dt>
                <dd>
                    <span>{{deliveryChannel.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/delivery-channel', deliveryChannel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
