<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ldap-user-heading" jhiTranslate="notificationHubApp.ldapUser.home.createOrEditLabel">Create or edit a Ldap User</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!ldapUser.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="ldapUser.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="notificationHubApp.ldapUser.userID" for="field_userID">User ID</label>
                    <input type="text" class="form-control" name="userID" id="field_userID"
                        [(ngModel)]="ldapUser.userID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="notificationHubApp.ldapUser.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="ldapUser.name" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="notificationHubApp.ldapUser.userChannelConfiguration" for="field_userChannelConfiguration">User Channel Configuration</label>
                    <select class="form-control" id="field_userChannelConfiguration" name="userChannelConfiguration" [(ngModel)]="ldapUser.userChannelConfigurationId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userChannelConfigurationOption.id" *ngFor="let userChannelConfigurationOption of userchannelconfigurations; trackBy: trackUserChannelConfigurationById">{{userChannelConfigurationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
