<div>
    <h2 id="page-heading">
        <span jhiTranslate="notificationHubApp.applicationEvent.home.title">Application Events</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-application-event" [routerLink]="['/application-event/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="notificationHubApp.applicationEvent.home.createLabel">
            Create new Application Event
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="applicationEvents">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="notificationHubApp.applicationEvent.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userChannelConfigurationId"><span jhiTranslate="notificationHubApp.applicationEvent.userChannelConfiguration">User Channel Configuration</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let applicationEvent of applicationEvents ;trackBy: trackId">
                <td><a [routerLink]="['/application-event', applicationEvent.id, 'view' ]">{{applicationEvent.id}}</a></td>
                <td>{{applicationEvent.description}}</td>
                <td>
                    <div *ngIf="applicationEvent.userChannelConfigurationId">
                        <a [routerLink]="['../user-channel-configuration', applicationEvent.userChannelConfigurationId , 'view' ]" >{{applicationEvent.userChannelConfigurationId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/application-event', applicationEvent.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/application-event', applicationEvent.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'application-event/'+ applicationEvent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
