<div>
    <h2 id="page-heading">
        <span jhiTranslate="notificationHubApp.eventAttach.home.title">Event Attaches</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-event-attach" [routerLink]="['/event-attach/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="notificationHubApp.eventAttach.home.createLabel">
            Create new Event Attach
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="eventAttaches">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="file"><span jhiTranslate="notificationHubApp.eventAttach.file">File</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="eventId"><span jhiTranslate="notificationHubApp.eventAttach.event">Event</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let eventAttach of eventAttaches ;trackBy: trackId">
                <td><a [routerLink]="['/event-attach', eventAttach.id, 'view' ]">{{eventAttach.id}}</a></td>
                <td>
                    <a *ngIf="eventAttach.file" (click)="openFile(eventAttach.fileContentType, eventAttach.file)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="eventAttach.file">{{eventAttach.fileContentType}}, {{byteSize(eventAttach.file)}}</span>
                </td>
                <td>
                    <div *ngIf="eventAttach.eventId">
                        <a [routerLink]="['../event', eventAttach.eventId , 'view' ]" >{{eventAttach.eventId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/event-attach', eventAttach.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/event-attach', eventAttach.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event-attach/'+ eventAttach.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
